nb-icon {
  cursor: pointer;
}
.user-item {
  cursor: pointer;
}
.user-item:hover {
  color: red;
}

.del-icon:hover {
  color: #000;
}

.edit-icon:hover {
  color: green;
}

table {
  color: green;
  font-weight: bold;
}

nb-card {
  overflow-x: auto;
}

label {
  font-weight: bold;
}
